<div>
  <a
    aria-label="Link to the license"
    href="https://github.com/simpixelated/simpixelated.com/blob/stable/LICENSE.md"
    >&copy; {% year %} by Jordan Kohl. All rights reserved.</a
  > Made with <span role="img" aria-label="love">❤️</span> in Carmel, Indiana.
</div>
<a
  aria-label="Link to the changelog"
  href="https://github.com/simpixelated/simpixelated.com/blob/stable/CHANGELOG.md"
  >v{% version %}</a
>
