---
title: Tags
layout: base.njk
---

<header>
  <h2>Tags</h2>
  <a href="/blog">View all posts</a>
</header>

<ul>
  {% for tag in collections.tagList %}
  <li>
    <a href="/tag/{{ tag.title | slug }}/">{{ tag.title }} ({{ tag.count }})</a>
  </li>
  {% endfor %}
</ul>
